@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/fundo.jpg);
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-image: linear-gradient(to top, black, gray);    
   
}
header>img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    
}
section.menu{
    display: flex;  
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    margin: auto; 
    gap:30px;  
    font-size: 2vw;
}

section >a{
    display: flex;     
    color:white;
    text-decoration: none; 
    text-shadow: -7px 4px 3px black; 
}

section >a:hover{
    color: black;
    font-weight: bolder;
    background-color: rgba(233, 44, 44, 0.293);
    padding: 8px;
    border-radius: 10px;
    text-shadow:none; 
}

article{
    width: 80%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #fff;
    margin-top: 10px;

}
article >h2{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 5px blue;
    text-decoration: underline;

}

.first{
    align-items: center;
}

.color{
    background-color:rgb(246, 242, 242);
}

article >p{
    display: flex;
    background: #fff;
    padding:10px 20px;
    text-align: justify;
    line-height: 2em;
    font-size: larger;
    text-indent: 20px;
}

p> img{
    float: left;
    width: 40%;
    height: 300px;
}

