@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color:black
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-image: linear-gradient(to top, black, gray);    
   
}

main{
    width: 100%;
    height: 830px;
}

img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    
}

section.menu{
    display: flex;  
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    margin: auto; 
    gap:30px;  
    font-size: 2vw;
}

section >a{
    display: flex;     
    color:white;
    text-decoration: none; 
    text-shadow: -7px 4px 3px black; 
}

section >a:hover{
    color: black;
    font-weight: bolder;
    background-color: rgba(233, 44, 44, 0.293);
    padding: 8px;
    border-radius: 10px;
    text-shadow:none; 

}

section.imagem{
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
    margin: auto;
    
}

section#img01{
    background-color: black;
    background-image: url(image/fundoRaiden.jpeg);
    background-position: left,center;
    background-repeat: no-repeat;
}

section#img02{
    background-color: black;
    background-image: url(image/sub-zero-pq.jpg);
    background-position: left,center;
    background-repeat: no-repeat;

}

section.conteudo{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: rgba(75, 74, 74, 0.315);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;   
    font-size: larger;
    line-height: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

aside{
    background-image: linear-gradient(to right, white, rgba(128, 128, 128, 0.653));
    width: 60%;
    height: 20%;
    margin: 40px auto 20px;
    padding: 10px;
    border: 1px 1px 1px solid rgb(236, 224, 224);
    border-radius: 10px;
}

aside >h2{
    font-family:'Varela Round', sem serifa;
    color: rgb(100, 7, 7);
    text-indent: 30px;
    padding-bottom: 10px;
    font-weight: bolder;
    text-decoration:underline;
    text-shadow: 1px 1px 5px black;
}

aside >p{
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
}

ul{
    list-style: none;
    list-style-position: inside;
    columns: 2;
    padding-top: 20px;
    
}

li >a{
    text-decoration: none;
    color: white;
}

strong{
    background-color: rgba(201, 115, 115, 0.985);
    color: red;
    font-weight: bolder;
    border-radius: 5px;
    padding: 3px;
    text-shadow: 1px 1px 1px black;
    
}

footer{
    color: white;
    background-image: linear-gradient(to bottom, black, gray); 
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size:20px;
    text-shadow: 1px 1px 1px black;
    text-decoration:underline;
    
}

